.mainLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.topBar {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: end;
}

.topBar > * {
  margin: 1rem;
}

.body {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  padding: 0;
}
