.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #801818;
  font-family: 'Inter', sans-serif;
  padding: 1rem;
}

.loginCard {
  background-color: #ffffff;
  padding: 1.5rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  max-width: 320px;
  width: 100%;
}

.loginCard h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #111827;
  margin-bottom: 1.5rem;
}

.loginCard form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.loginCard input[type="text"],
.loginCard input[type="password"] {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 0.6rem;
  font-size: 0.9rem;
  background-color: #f9fafb;
  transition: all 0.2s ease;
}

.loginCard input[type="text"]:focus,
.loginCard input[type="password"]:focus {
  outline: none;
  border-color: #2563eb;
  background-color: #ffffff;
}

/* Estilo específico para el botón de submit */
.loginCard button[type="submit"] {
  background-color: #660000;
  color: white;
  font-weight: 600;
  padding: 0.5rem;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
  margin-top: 1rem;
}

.loginCard button:hover {
  background-color: #BF4F51;
  transform: translateY(-1px);
}

.loginCard .errorText {
  font-size: 0.85rem;
  color: #b91c1c;
  margin-top: 0.25rem;
}

.loginCard .loginLink {
  margin-top: 0.75rem;
  text-align: center;
  font-size: 0.95rem;
  color: #660000;
  text-decoration: none;
  font-weight: 500;
}

.loginCard .loginLink:hover {
  text-decoration: underline;
}

.forgotButton {
  background: none !important;
  background-color: transparent !important;
  border: none;
  color: #800020;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.95rem;
  margin-top: 0 !important;
}


.forgotButton:hover {
  background: none;
  transform: none;
  text-decoration: none;
}

.responseMessage {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

.responseMessage.success {
  color: green;
}

.responseMessage.error {
  color: red;
}

.infoText {
  font-size: 0.9rem;
  color: #666;
  margin: 1rem 0;
  text-align: center;
}

.instructionsText {
  text-align: center;
  font-size: 0.9rem;
  color: #666;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.resetInfoText {
  text-align: center;
  font-size: 0.9rem;
  color: #666;
  margin: 1rem 0;
}

.resetMessage {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
  color: green;
}

.resetButton {
  display: inline-block;
  margin-top: 1rem;
  text-align: center;
  font-size: 0.95rem;
  color: #660000;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.resetButton:hover {
  text-decoration: underline;
}
